APIServerToken = ""
[Mail]
smtpAddress = ""
port = "587"
from = ""
username = ""
password = ""
sub = "[uec-fakeSSO] 認証用ワンタイムトークン"
msg = "電気通信大学のUECメールの所有を確認します．指示に従って以下のワンタイムトークンを画面に入力してください．\nもし身に覚えが無ければ無視してください．\nワンタイムトークン:"
